.smaller-font {
  font-size: 0.45em;
}

.smallerx-font {
  font-size: 0.35em;
}

.long-title1 {
  font-size: 0.8em;
}

.long-title2 {
  font-size: 0.7em;
}


#title-slide .quarto-title-author-name {
  text-align: center !important;
  font-size: 0.89em;
}

#title-slide .quarto-title-affiliation {
  text-align: center !important;
  font-size: 0.6em;
}

#title-slide .date {
  text-align: center;
  padding-left: 20px;
}

.reveal h1.title {
  text-align: center !important;
  font-size: 1.8em !important;
}

.reveal h1 {
  font-size: 1.5em !important; /* Adjust size as needed */
  padding-left: 20px;
}
.reveal h2 {
  font-size: 1.3em !important;
}
.reveal h3 {
  font-size: 1.1em !important;
}

.reveal .subtitle {
  text-align: left !important;
}

