notebook
jupyter
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
statsmodels
plotly
weasyprint
tqdm
xgboost
lightgbm
catboost
cubist
sktime
openpyxl
ruptures
tabulate
great_tables
git+https://github.com/mustafaslanCoto/peshbeen.git