.smaller-font {
  font-size: 0.45em;
}

.smallerx-font {
  font-size: 0.35em;
}

.long-title1 {
  font-size: 0.8em;
}

.long-title2 {
  font-size: 0.7em;
}


#title-slide .quarto-title-author-name {
  text-align: center !important;
  font-size: 0.89em;
}

#title-slide .quarto-title-affiliation {
  text-align: center !important;
  font-size: 0.6em;
}

#title-slide .date {
  text-align: center;
  padding-left: 20px;
}

.reveal h1.title {
  text-align: center !important;
  font-size: 1.8em !important;
}

.reveal h1 {
  font-size: 1.5em !important; /* Adjust size as needed */
  padding-left: 20px;
}
.reveal h2 {
  font-size: 1.3em !important;
}
.reveal h3 {
  font-size: 1.1em !important;
}

.reveal .subtitle {
  text-align: left !important;
}




.reveal .columns {
  display: flex;
  gap: 0; /* no gap, line acts as separator */
}

.reveal .column {
  position: relative;
  padding-left: 1.5rem; /* space for the line */
}

/* Add a semi-transparent vertical line to the left of every column except the first */
.reveal .column:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: rgba(0, 0, 0, 0.15); /* semi-transparent black */
}

/* center text */
.center-text {
  text-align: center;
}

